doctype html

html
    head
        title luke.segars
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Catamaran|Slackey')
        link(rel='stylesheet', href='https://necolas.github.io/normalize.css/5.0.0/normalize.css')
        link(rel='stylesheet', href='style.css')
        link(rel='stylesheet', href='flaticon.css')
        script(src='app.js')

    body
        canvas(id='background')
        header
            section(id='profile')
                img(src='img/profile.jpg')
            section
                h1 Luke Segars
                h2 I like to learn things. Find me on #[a(href='https://github.com/anyweez') Github], #[a(href='https://twitter.com/anyweez') Twitter], or #[a(href='https://medium.com/@anyweez') Medium].
        main
            nav
                ul
                    each group, i in groups
                        li(data-index=i,data-activate=group.id)= group.label
            each group, i in groups
                section(id=group.id,class='group',data-index=i)
                    each story in group.stories
                        section(class='item' + (story.display ? ' default' : ''))
                            div
                                p(class='category')= story.category.label
                                img(src=story.category.icon)
                                p #{ story.date }
                            div(class='description')
                                h2 #[a(href=story.url) #{ story.title }]
                                p !{ story.description }
            section(id='all', class='more hidden')
                p more things